footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #b6bac0;
    padding: 30px;
    justify-items: center;
    align-items: center;
  }
  
  footer p{
    color: #2e378e;
  }
  
  footer .logo{
    font-size: 45px;
    font-weight: bold;
    color: #2e378e;
  }