.App {
  margin: 0;
}

.text_section{
  max-width: 1200px;
  margin: 0 auto;
}

.text_section h2{
  text-align: center;
}

.plus_btn{
  justify-self: end;
  background-color: white;
  border: 1px solid #2e378e;
  border-radius: 10px;
  padding: 7px;
  padding-bottom: 4px;
  cursor: pointer;
}

.plus_btn img{
  filter: invert(80%) sepia(25%) saturate(2900%) hue-rotate(180deg) brightness(50%) contrast(100%);
  width: 35px;
}

.check_btn{
  justify-self: end;
  border: 2px solid #11b835;
  background-color: white;
  border-radius: 10px;
  padding: 7px;
  padding-bottom: 4px;
  cursor: pointer;
}

.check_btn img{
  justify-self: end;
  filter: invert(55%) sepia(25%) saturate(3800%) hue-rotate(100deg) brightness(80%) contrast(80%);
  width: 33px;
}



