.h3_slider{
    background: #5f9ea0;
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }

  .banner-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 50px;
  }
  
  .banner{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: end;
    align-items: center;
    background-image: url("/public/img/banner.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 22px;
  }

  .banner2{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: end;
    align-items: center;
    background-image: url("/public/img/banner2.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 22px;
  }
  .banner3{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: end;
    align-items: center;
    background-image: url("/public/img/banner3.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 22px;
  }
  
  .text_banner{
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  
  .text_banner span{
    color: #2e378e;
  }
  
  .banner_btn{
    background-color: #2e378e;
    color: white;
    margin-top: 20px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
  }
  
  .banner_btn:hover{
    box-shadow: 5px 5px 5px 0 gray;
  }
  
  .banner_btn:active{
    background-color: white;
    color: #2e378e;
  }
  